body {
  color: #fff;
  background-color: black;
  font-weight: 400;
}

.page__container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 15px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}